<form>
  <h2>Milestones</h2>
  <img src="../../assets/images/milestones.png" alt="Milestones">
  <h2>Expected Deliverables</h2>
  <img src="../../assets/images/expDeliverables.png" alt="expDeliverables">
  <h2>Set Backs</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr>
    <td>
      01-01-2000
    </td>
    <td>
      Not all employees present to begin meeting.
    </td>
  </tr>
  <tr>
    <td>
        01-15-2000
    </td>
    <td>
      Computer glitches, had to refrain from working.
    </td>
  </tr>
  <tr>
    <td>
        01-20-2000
    </td>
    <td>
      Computer issue not fixed, fire ensued.
    </td>
  </tr>
  </table>
</form>

