<form>
    <h1>PRJ_HCKTHN--CONTACTS</h1>
    <div>
        <label for="name"><b>Name:</b></label> Shantel Moore
    </div>
    <div>
        <label for="email"><b>Email(s):</b></label> shantel@infosys.com
    </div>
    <div>
        <label for="phone"><b>Phone:</b></label> 555-555-5555
    </div>
    <br>
    <div>
        <label for="name"><b>Name:</b></label> Rosa Florence
    </div>
    <div>
        <label for="email"><b>Email(s):</b></label> rosa@infosys.com
    </div>
    <div>
        <label for="phone"><b>Phone:</b></label> 777-777-7777
    </div>
  </form>
