<form action="">
  <h1>Project OnTheGo</h1>
  <table style="width:100%">
    <tr>
        <label for="userName"><b>UserName</b></label>
        <input type="text" placeholder="UserName" name="userName" required>
    </tr>
    <tr>
        <label for="passWord"><b>PassWord</b></label>
        <input type="text" placeholder="PassWord" name="passWord" required>
    </tr>
    <tr>
        <label for="projectCode"><b>ProjectCode</b></label>
        <select>
          <option value="" disabled selected>Select Project Code</option>
          <option value="hackathon">PRJ-HCKTHN</option>
        </select>
    </tr>
    <tr>
      <a href="/prj01" class="btn btn-default">SUBMIT</a>
    </tr>
  </table>
</form>
